/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 30, 2018, 6:10:59 PM
    Author     : admin
*/

body {
    background: #eee;
}

.center-text {
    text-align: center;
}

.invalid-input {
    border: 2px solid darkred !important;
}

#app {
    width: 436px;
    height: 486px;
    margin: 2em auto;
    text-align: center;
    background: url('lotto.jpg');
}

#app > input {
    border: 2px solid #ddd;
    line-height: 1.5em;
    background: white; /*transparent;*/
    margin-right: 18px;
    margin-top: 14em;
    font-size: 1.2em;
    padding: 0;
    width: 34px;
    text-align: center;
}

#app > input:last-child {
    margin-left: 1.6em;
}

.container {
    text-align: center;
}

.error-message {
    color: darkred;
}

.btn {
    color: white;
    background-color: #428bca;
    margin: .2em .1em;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1em;
    border: none;
    border-bottom: .15em solid black;
    border-radius: 3px;
    padding: .7em 2em;
    border-color: #337ab7;
    background-image: linear-gradient(#428bca, #337ab7);
}

 .btn:hover {
    background: linear-gradient(#337ab7, #337ab7);
    cursor: pointer;
 }

